.logo {
    max-width: 10em;
}

.tittle{
    text-align: center;
    font-size: 2em;
}
.dev{
    max-width: 400px;
    display: inline-block;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
}
.par{
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.dev{
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}