
* {
    margin: 0;
    padding: 0;
 
}

$titulos:(
h1: 3em,
h2: 2em,
h3: 1em,
h4: 0.75em,
h5: 0.5em,
h6: 0.35em,
);

/*$h1: map-get($titulos, h1);*/

h1 {
    font-size: map-get($map: $titulos, $key: h1);
}



body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5em;
    background-image: linear-gradient(to right, #3a2d80, #433492, #4b3ca5, #5444b8, #5d4ccc, #6751d6, #7055e1, #7a5aeb, #865cee, #915ef1, #9c61f3, #a763f6);
}


.container {
    width: 85%;
    text-align: justify;
    max-width: 850px;
    margin: 15px auto;
    color: $color-secundario;
    img {
        width: 100%;
        height: auto;
    }
}


p {
    margin: 15px;
}

h1 {
    line-height: 1.2em;
}
